language: node_js
node_js:
  - "8"
script: karma start --browsers Chrome --single-run
before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_install:
  - npm install karma-cli -g